body {
    background-color: #eceef1;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 95vw;
    margin: 0 auto;
    color: #4c4c4c;
}

/*NAV BAR*/

nav {
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-text {
    font-size: .75rem;
    font-weight: 300;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text p {
    margin-bottom: 0;
    margin-top: 0;
}

.header-text a {
    margin-top: 0;
    color: #0077C5;
}

.sign-In-Button {
    border: 1px #4c4c4c solid;
    background-color: #0077C5;
    padding: 8px 20px;
    display: flex;
    border-radius: 4px;
    height: 20px;
    justify-content: space-around;
    align-items: center;
}

.sign-In-Button p {
    font-size: .8rem;
    color: white;
    padding-left: 5px;
}

.fa-lock {
    color: white;
}

/*Form section*/
.container {
    margin: 0 auto;
    width: 20%;
    display: flex;
    flex-direction: column;

}

.container-header {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intuit-header-logo {
    width: 125px;
    height: 60px;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section p {
    font-size: 1.1rem;
    letter-spacing: -.5px;
}

.color-icon {
    width: 45px;
    height: 23px;
}

form {
    height: 80%;
    border: #a7a7a7 1px solid;
    border-bottom: none;
    background-color: #FFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    height: 20%;
}

.form-header h1 {
    font-size: 1.4rem;
}

.form-header p {
    font-size: .8rem;
    margin-bottom: 0;
}

.form-header a {
    font-size: .8rem;
    color: #0077C5;
}
